<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zilion.mapper.CommodityPackageMapper">
    <resultMap id="commodityPackageMap" type="cn.zilion.pojo.CommodityPackage">

    </resultMap>
    <select id="findCommodityPackageByWords" resultMap="commodityPackageMap" parameterType="java.lang.String">
        SELECT commodity_t.commodityId_c,
        <foreach collection="list" item="">

        </foreach>
    </select>
</mapper>